body{
  background-color: #dbcfb2;
}


.login_card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#FAEDCF ;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
   position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

label{

  font-size: 12px;
}

.login-userName,.login-password {
  padding: 6px;
  text-align: left;
}
input{
  padding:3px;
  margin-top:8px;
}

#login-button{
  align-items: center;
  appearance: none;

  background-color: #054060;
  border-radius: 4px;
  border-width: 0;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  color: #FAEDCF;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 31px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 11px;
}
.App-header {
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  width: 100vw;
  background:#054060;
}

.header{
  color: #FAEDCF;
}

.logo{
   display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom:10px;
}